.navi {
    background-color: #43658B;
    color: white;
}

.header {
    height: 75vh;
    width: 100vw;
    background-color: 4E89AE;
}

.hero-div {
    height: 100vh;
    background-color: #ED6663;
    display: flex;
    align-items: center;
}

.hero {
    background-color:FFA372;
    border-radius: 10px;
    border-color: #FFA372;
    background-color: #ED6663;
}

.lebenslauf {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 40px;
}

.lebenslauf-container {
    margin-top: 150px;
    margin-bottom: 150px;
    display: flex;
    justify-content: center;
}

@media (max-width: 700px) {
    .lebenslauf {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
    .hero img {
        height: 500px;
    }
}
